body{
	margin:  0px;
	padding: 0px;
	background-color: #34A853;
	overflow-x: hidden;
}

.card{
	background-color: #b8e9c0;
}

.card-img{
	border-radius: 100%;
}

ul{
	font-family: 'Bree Serif', serif;

}
.list-group-item{
	background-color: #cce490;
}
.html{
	width:80%;
	height: 25px;
	background-color:  #454d66;
	text-align: center;
	line-height: 25px;
	color: white;
}

.bootstrap{
	width:75%;
	height: 25x;
	background-color:  #454d66;
	text-align: center;
	line-height: 25px;
	color: white;
}

.css{
	width:70%;
	height: 25px;
	background-color:  #454d66;
	text-align: center;
	line-height: 25px;
	color: white;
}

.java{
	width:60%;
	height: 25px;
	background-color:  #454d66;
	text-align: center;
	line-height: 25px;
	color: white;
}

.sql{
	width:60%;
	height: 25px;
	background-color:  #454d66;
	text-align: center;
	line-height: 25px;
	color: white;
}

.javascript{
	width:50%;
	height: 25px;
	background-color:  #454d66;
	text-align: center;
	line-height: 25px;
	color: white;
}

.angular{
	width:30%;
	height: 25px;
	background-color:  #454d66;
	text-align: center;
	line-height: 25px;
	color: white;
}

ul div p{
	font-family: 'Nanum Gothic', sans-serif;
}
.marks{

	color: blue;
}

.desc{
	color: black;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 0;
	background-color: white;
	padding: 10px;
}
@media only screen and (max-width: 1056px){
	.card-img{
		border-radius: 20px;
	}
	
}
