body{
	margin:  0px;
	padding: 0px;
	background-color: #34A853;
	overflow-x: hidden;
	overflow-y:hidden;
}

.card-img{
	border-radius: 120px;
}
@media only screen and (max-width: 1056px){
	.card-img{
		border-radius: 0;
	}
	
}
