body{
	margin: 0px;
	padding: 0px;
	background-color: #009975;
	overflow-x: hidden;
	overflow-y: hidden;
}
/*.navbar-dark{
	background:#34A853;
}*/

.card-header{
	background: #454d66;
	opacity: 0.9;
	color: white;
}
.frm{
    margin:15px;
}
.sp{
	color: red;
}
.btn{
	transition-timing-function:ease;
    transition-property:all;
    transition-duration: 0.7s;
}
.btn:hover{
	color: #FBBE0C;
	transform: scale(1.2);
	
}