body{
	margin:  0px;
	padding: 0px;
	background-color: #34A853;
	overflow-x: hidden;
	overflow-y:hidden;
}
a{
	color: white;
	
}
a:hover{
	color:#FBBE0C;
}
.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
h1{
	font-family: 'Open Sans', sans-serif;
	color: white;

}
h5{
	font-weight: 330;
}
.social{
    transition-timing-function:ease;
    transition-property:all;
    transition-duration: 0.7s;
   
}
.social:hover{
    transform: scale(1.2);
    
}
.fa-chevron-down{
    transition-timing-function:ease;
    transition-property:all;
    transition-duration: 0.5s;
   
}
.fa-chevron-down:hover{
    transform: scale(1.2);
    
}
@media only screen and (max-width: 886px) and (min-width: 300px){
  h1 {
    font-size: 30;
	  margin:0 15px 0 50px;
  }
  h5 {
  	font-size: 18;
  }
}
