<!DOCTYPE HTML5>
<html>
<head>
    <title>PORTFOLIO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" type="image/ico" href="/img/smile.png">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">  

   

    <link rel="stylesheet" href="css/contact.css">
    <script type="text/javascript" src="js/contact.js"></script>

</head>
  

<body>     
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


    <nav class="navbar navbar-dark navbar-expand-sm  d-none d-sm-block">     
        <h2 class="text-light">Contact Me</h2>               
    </nav>

    <div class="container mt-3 mt-sm-2">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="card" style="border-width: 1px;border-color:black ;">
                    <div class="card-header">
                        <h2>Submit Your Feedback</h2>
                    </div>

                    <div class="card-body pb-0" ng-app="myApp" ng-controller="myController">         
                        <form>
                            <div class="frm form-group">
                                <label for="name">
                                    <b><big>Name<sup class="sp">*</sup></big></b>
                                </label>
                                <input type="text" id="name" class="form-control" placeholder="Enter your name" ng-model="name">
                            </div>
                            <div class="frm form-group">
                                <label for="email">
                                    <b><big>Email-id<sup class="sp">*</sup></big></b>
                                </label>
                                <input type="email" id="email" class="form-control" placeholder="Enter your email-id" ng-model="email">
                                <small class="text-info form-text">(Your email-id will not be shared with anyone)</small>
                            </div>
                            <div class="frm form-group">
                                <label for="mobile_number">
                                    <b><big>Phone No<sup class="sp">*</sup></big></b>
                                </label>
                                <input type="tel" maxlength="10" minlength="10" id="mobile_number" class="form-control" placeholder="Enter your Number" width="30%" ng-model="phone">
                                <small class="text-info form-text">(Your number will not be shared with anyone)</small>
                            </div>                           
                            <div class="frm form-group">
                                <label for="Feedback">
                                    <b><big>Feedback</big></b>
                                </label>
                                <textarea rows="3" id="Feedback" class="form-control" placeholder="Share your views about MY PORTFOLIO..." ng-model="feedbacks"></textarea>
                                <small class="text-info form-text">(Your feedback is valuable to me)</small>
                            </div>
                            <center>
                                <button class="btn btn-success mb-0" ng-click="postData()"><b>Submit</b></button>
                            </center>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>